body {
    overflow: scroll;
    overflow-x: hidden;
}

p, input{
    display:inline-block;
}

input {
    width: 90px;
    background: rgba(39, 92, 113, 0.95);
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
    input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

.contain {
    position: relative;
}


.option-container {
    position: absolute;
    width: 100%;
}

.option {
    position: relative;
    height: 200px;
    color: cornsilk;
    margin-bottom: 40px;
}

    .option .mbtn {
        background: #accbee;
        position: absolute;
        box-shadow: 0 0 10px 1px #ddd, 0 0 3px 1px #fff inset;
        border-radius: 5px 7px;
    }

.btnTurn {
    left: 1%;
    width: 49%;
    height: 100%;
    font-size: 5em;
    padding-top: 50px;
}

.btnClear {
    right: 1%;
    top: 43%;
    width: 44%;
    height: 32%;
    font-size: 2em;
    padding-top: 9px;
}

.btnRepeatSwitch {
    right: 1%;
    top: 1%;
    width: 44%;
    height: 41%;
    font-size: 2em;
}

.btnProb {
    background: #7e959e !important;
    right: 1%;
    top: 78%;
    width: 44%;
    height: 21%;
    font-size: 10px;
    z-index: 2;
}



.probPanel {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 44%;
    height: 80%;
    font-size: 12px;
    z-index: 1;
    transform: translateY(50%) scale(1,0);
    opacity: 0;
    transition-duration: 0.2s;
}

.mpanel {
    background: #accbae;
    box-shadow: 0 0 10px 1px #ddd;
}

.prob-group {
    width: 20%;
    display: inline-block;
    height: 50%;
}
/*
.btnStart {
    /*background-color:RGBA(172, 149, 150, 0.9);*
    background: #accbee;
    position: absolute;
    left: 1%;
    width: 9%;
    height: 100%;
    font-size: 3em;
}

.btnPause {
    /*background-color:RGBA(150, 149, 172, 0.9);*
    background: #accbee;
    position: absolute;
    left: 11%;
    width: 9%;
    height: 100%;
    font-size: 3em;
}
*/
.container-role-container {
    position: absolute;
    top: 210px;
    width: 100%;
}

.contain-role {
    position: relative;
}

.container-role-result {
    position: absolute;
    background-image: linear-gradient(to left, #f78da1 0%, #fb7490 19%, #fd8680 60%, #fe9a80 100%);
    top: 5%;
    left: 5%;
    width: 90%;
    height: 210px;
    text-align: center;
    border-radius: 3px 4px;
    font-size: 10em;
    transform: scale(0,0);
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}



.container-role-left {
    position: absolute;
    left: 2%;
    width: 96%;
    transition-duration: 0.3s;
}

.role-default {
    width: 13%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-bottom: 7px;
    display: inline-block;
    text-align: center;
    color: WhiteSmoke;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    opacity: 0.9;
    border-radius: 5px;
}

.role-selected {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: #efe;
}

.role-up {
    top: 0px;
}

.role-down {
    top: 220px;
}

.pop-Tip {
    color: #5d5353;
    background: #e5e4e4;
    position: fixed;
    right: -290px;
    top: 150px;
    height: 60px;
    width: 300px;
    padding-left:29px;
    padding-top: 12px;
    font-size: 22px;
    z-index: 100;
    border-left: solid 10px rgba(131, 14, 226, 0.94);
    border-bottom: groove 3px rgba(131, 14, 226, 0.94);
    transition: 0.3s;
}

.explanation {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50%;
}

@media screen and (max-width: 500px) {
    .container-role-result {
        padding-top: 10px;
        height: 120px;
        font-size: 5em;
    }

    .role-default {
        width: 23%;
    }

    .option {
        height: 300px;
        color: cornsilk;
        margin-bottom: 40px;
    }

    .btnTurn {
        height: 79%;
        font-size: 3em;
        padding-top: 80px;
    }

    .btnClear {
        right: 1%;
        top: 50%;
        width: 46%;
        height: 29%;
        padding-top: 25px;
        font-size: 24px;
    }

    .btnRepeatSwitch {
        right: 1%;
        top: 1%;
        width: 46%;
        height: 48%;
        padding-top: 23px;
        font-size: 32px;
    }

    .btnProb {
        background: #7e959e !important;
        right: 1%;
        top: 86%;
        width: 98%;
        height: 13%;
        font-size: 10px;
    }

    .probPanel {
        width: 96%;
        height: 87%;
        font-size: 12px;
    }

    .container-role-container {
        top: 310px;
    }

    .role-down {
        top: 130px;
    }

    .explanation {
        display: none
    }
}

@media screen and (max-width: 350px) {

    .btnRepeatSwitch {
        font-size: 19px;
    }

    .container-role-result {
        padding-top: 11px;
        height: 80px;
        font-size: 39px;
    }

    .container-role-container {
        position: absolute;
        top: 310px;
        width: 100%;
    }

    .role-default {
        width: 32%;
    }

    .role-down {
        top: 90px;
    }
}

@media screen and (max-width: 170px) {
    body * {
        display: none;
    }

    body::after {
        content: "What do you want to do with such a small screen :-)";
    }
}
