body {
}

* {
    transition-delay:0.2s;
}

li {
    list-style: none;
}

.download {
    margin: 15px;
    border: dotted 5px #efc10c;
    background: rgba(255, 222, 160, 0.55);
}

.view {
    margin: 15px;
    border: dotted 5px #b3b1ff;
    background: rgba(187, 255, 255, 0.58);
}


.li_three .ul_three, .li_two .ul_two {
    transform: scale(0,0);
    opacity: 0;
    height: 0;
    transition-duration: 0.3s;
}

.li_three:hover .ul_three, .li_two:hover .ul_two {
    transform: scale(1,1);
    height: 140px;
    opacity: 1;
}


.record-title {
    background-color: azure;
    box-shadow: #ddddde 5px 5px 10px 5px,#fffffd -50px -10px 0 10px inset;
    margin: 15px;
}

.dropdown {

}

.dropdown-btn {
    height: 50px;
    padding: 15px;
    display: inline;
    transition: 0.3s;
    background-color: #efeffd;
    border-radius: 25px 25px;
    box-shadow: #efe1ff -10px -10px 10px 10px inset;
    padding:20px;
}

    .dropdown-btn:hover {
        background-color: #efeffd;
        box-shadow: #efe1ff 5px -5px 3px 5px inset;
        height: 250px;
        border-radius: 10px 10px;
    }
    .dropdown-btn:hover i {
        transform: rotate(180deg);
    }

    .dropdown-btn ul {
        transition:0.3s;
        transform: scale(0,0);
        height: 0px;
        opacity: 0;
    }

    .dropdown-btn:hover ul {
        transform:scale(1,1);
        height: 140px;
        opacity: 1;
    }
.dropdown-content li {
    margin-bottom:2px;
    width: 100px;
}
.dropdown-content li:hover {
    background-color: lightblue;
}

.result {
    background-color: rgba(206, 217, 221, 1);
    color:#455667;
}
