body {
}


li {
    list-style: none;
}

.download {
    margin: 15px;
    border: dotted 5px #efc10c;
    background: rgba(255, 222, 160, 0.55);
}

.view {
    margin: 15px;
    border: dotted 5px #b3b1ff;
    background: rgba(187, 255, 255, 0.58);
}


.li_three .ul_three, .li_two .ul_two {
    transform: scale(0,0);
    opacity: 0;
    height: 0;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.li_three:hover .ul_three, .li_two:hover .ul_two {
    transform: scale(1,1);
    height: 140px;
    opacity: 1;
}



.firstcol{
    margin-bottom:70px;
}

.record-title {
    background-color: azure;
    box-shadow: #ddddde 5px 5px 10px 5px,#fffffd -50px -10px 0 10px inset;
    margin: 15px;
}

.dropdown {
    position:absolute;
    width:80%;
    height:50px;
    margin-bottom: 10px;
    z-index:100;
}

.dropdown-btn {
    position: absolute;
    height: 100%;
    display: block;
    transition: 0.3s;
    transition-delay: 0.2s;
    background-color: #efeffd;
    border-radius: 25px 25px;
    box-shadow: #efe1ff -10px -10px 10px 10px inset;
    padding:10px;
}

    .dropdown-btn:hover {
        background-color: #efeffd;
        box-shadow: 0px 0px;
        height: 250px;
        border-radius: 10px 10px;
    }

        .dropdown-btn:hover i {
            transform: rotate(180deg);
        }

    .dropdown-btn ul {
        transition: 0.3s;
        transition-delay: 0.2s;
        transform: scale(0,0);
        height: 0px;
        opacity: 0;
    }

    .dropdown-btn:hover ul {
        transform: scale(1,1);
        height: 140px;
        opacity: 1;
    }

.dropdown-btn-date {
    left: 15%;
    width: 30%;
}
.dropdown-btn-subject {
    right: 15%;
    width: 30%;
}

.dropdown-content li {
    margin-bottom: 2px;
    width: 100px;
}

    .dropdown-content li:hover {
        background-color: lightblue;
    }

.result {
    position: relative;
    background-color: rgba(206, 217, 221, 1);
    color: #455667;
    padding: 10px;
    top:80px;
    z-index:10;
    border-bottom:groove 3px white;
}

.result-date {
    position: absolute;
    top: 10%;
    bottom: 10%;
    width: 18%;

    right: 10%;
    font-size: 4em;

}

    .result-date p {
        position: center;
    }

.result-subject {
    background-color: rgba(216, 217, 221, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    color: rebeccapurple;
    font-size: 3em;
    text-align: center;
}

    .result-subject:hover {
        background-color: rgba(186, 187, 191, 1);
    }
